@model SharingEconomyPlatform.Models.Product
@{
    ViewBag.Title = "BuyNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 5;
    double total  =  i * Model.Price;
}

<h2>Buy Now</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Rate/Unit</th>
        <th> Total Amount</th>
    </tr>

    <tr>
        <td>@Model.Name</td>
        <td>@i</td>
        <td>@Model.Price<b>&#8377</b></td>
        <td>@total<b>&#8377</b></td>

    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b>@total</b><b>&#8377</b></td>
        
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            <input type="button" class="btn btn-primary" value="Add Product" onclick="location.href='@Url.Action("AddProduct", "Home")'" />
        </td>
       
        <td></td>

    </tr>


</table>