@using Microsoft.AspNet.Identity
@using SharingEconomyPlatform.Models;
@{
    ViewBag.Title = "Home Page";
    string demo = "guys";
    var _con = new ApplicationDbContext();
    string id = User.Identity.GetUserId();
    ApplicationUser user = _con.Users.Where(u => u.Id == id).FirstOrDefault();
    var products = from ps in _con.Products
                   join cs in _con.Categories
                   on ps.Category.Id equals cs.Id
                   join ur in _con.Users
                   on ps.Vendor.Id equals ur.Id
                   select new productCatView { product = ps, category = cs, vendor = ur };
    
    var services = from ps in _con.Services
                   join cs in _con.Categories
                   on ps.Category.Id equals cs.Id
                   join ur in _con.Users
                   on ps.Vendor.Id equals ur.Id
                   select new serviceCatView { service = ps, category = cs, vendor = ur }; 

}
@if (Request.IsAuthenticated)
{
    demo = user.FirstName + " " + user.LastName;
}
@Styles.Render("~/Content/my style.css")



<div class="jumbotron">
    <h1>Hi @demo</h1>
    <p class="lead">We Provides Lots for Products and Services all Over The World.</p>
    @if (!Request.IsAuthenticated)
    {
        <p><input type="button" class="btn btn-primary" value="Login Here" onclick="location.href='@Url.Action("Login", "Account")'" /></p>
    }

</div>

<h2>Products</h2>
<hr />

<div class="row">
    @foreach (var item in products)
    {

        <div class="col-md-3">
            <div class="cardp">
                <div class="container">
                    <h4><b>@item.product.Name</b></h4>
                    <p><b>Rate :</b><span> @item.product.Price</span><b>&#8377</b></p>
                    <p><b>Stock :</b><span>@item.product.Stock</span></p>
                    <p><b>Category :</b><span>@item.category.Name</span></p>
                    <p><b>Vendor :</b><span>@item.vendor.FirstName @item.vendor.LastName</span></p>

                </div>
            </div>
        </div>
    }
</div>
<br />

<h2> Servises</h2>
<hr />
<div class="row">
    @foreach (var item in services)
    {

        <div class="col-md-3">
            <div class="cardp">
                <div class="container">
                    <h4><b>@item.service.Name</b></h4>
                    <p><b>Rate :</b><span> @item.service.Price</span><b>&#8377</b></p>
                    <p><b>Stock :</b><span>@item.service.Available</span></p>
                    <p><b>Category :</b><span>@item.category.Name</span></p>
                    <p><b>Vendor :</b><span>@item.vendor.FirstName @item.vendor.LastName</span></p>

                </div>
            </div>
        </div>
    }
</div>