@using SharingEconomyPlatform.Models;
@model List<serviceCatView>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<serviceCatView> Model2 = Model;
}




<style>
    .btn {
        margin: 5px;
    }

    .dl {
        font-weight: bold;
        margin-right: 5px;
    }

    .dd {
    }

    .Available {
        color: green;
    }

    .NotAvailable {
        color: red;
    }
</style>


@if (!Request.IsAuthenticated)
{

    <h2>Services</h2>
}
else if (User.IsInRole("Customer"))
{
<h2>Services</h2>


}
else if (User.IsInRole("Admin"))
{
    <h2>Service Available</h2>
}
else if (User.IsInRole("Vendor"))
{
    <h2>Service Awailable In Repository</h2>
    <input type="button" class="btn btn-primary" value="Add Service" onclick="location.href='@Url.Action("AddService", "Home")'" />
    var id = User.Identity.GetUserId();

    Model2 = (from m in Model where m.vendor.Id == id select m).ToList();
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>details</th>
        <th>Order</th>

    </tr>
    @foreach (var item in Model2)
    {
        <tr>
            <td>@item.service.Name</td>
            <td>
                <dl>
                    <div>
                        <span class="dl">Price: </span>
                        <span class="dd">@item.service.Price <b>&#8377</b></span>
                    </div>

                    <div>
                        <span class="dl">Availability: </span>
                        <span class="dd">
                            @if (item.service.Available)
                            {<span class="Available">Available</span>}
                            else
                            {<span class="NotAvailable">Not Available</span>}
                        </span>
                    </div>
                    <div>
                        <span class="dl">Category: </span>
                        <span class="dd">@item.category.Name</span>
                    </div>
                    <div>
                        <span class="dl">Vendor: </span>
                        <span class="dd">@item.vendor.FirstName @item.vendor.LastName</span>
                    </div>


                </dl>
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Vendor"))
            {

                <td>
                    <input type="button" name="Eddit Detail" value="Eddit Detail" class="btn btn-primary" /><br />
                    <input type="button" name="Remove" value="Remove" class="btn btn-primary" onclick="location.href='@Url.Action("Remove","Home",new { product = item.service.Id , stat = false})'" />
                </td>

            }
            else
            {
                <td>
                    <input type="button" name="AddToCart" value="Details" class="btn btn-primary" /><br />
                    <input type="button" name="BuyNow" value="Buy Now" class="btn btn-primary" onclick="location.href='@Url.Action("BuyNowService", "Home",new {product = item.service.Id})'" />
                </td>
            }

        </tr>
    }
</table>